@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  height: 100vh;
  font-family: "Outfit", sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Slate-300);
}

.container .qr-component {
  width: 300px;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--White);
  text-align: center;
}

.qr-component .qr-code {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
}

.qr-component .informations {
  padding: 0 10px;
}

.informations .component-title {
  margin-bottom: 15px;
  font-size: 2.1rem;
  color: var(--Slate-900);
}

.informations .component-text {
  margin-bottom: 25px;
  font-size: 1.5rem;
  color: var(--Slate-500);
}
